<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html class=""><!--<![endif]-->
<head>
	<meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	<title>
		{% if page_title %}
			{{ page_title }}
		{% endif %}
	</title>
	<!-- Standard Favicon -->
	<link rel="icon" type="image/x-icon" href="{{ url_for('static', path='site/images/favicon.ico') }}"/>
	
	<!-- For iPhone 4 Retina display: -->
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ url_for('static', path='site/images/apple-touch-icon-114x114-precomposed.png') }}">
	<!-- For iPad: -->
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ url_for('static', path='site/images/apple-touch-icon-72x72-precomposed.png') }}">
	<!-- For iPhone: -->
	<link rel="apple-touch-icon-precomposed" href="{{ url_for('static', path='site/images/apple-touch-icon-57x57-precomposed.png') }}">
	
	<!-- Library - Bootstrap v3.3.5 -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='site/libraries/lib.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', path='site/libraries/Stroke-Gap-Icon/stroke-gap-icon.css') }}">

	
	<!-- Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,900,300,300italic,500,700' rel='stylesheet' type='text/css'>	
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Niconne' rel='stylesheet' type='text/css'>
	
	
	<!-- Custom - Common CSS -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', path='site/css/plugins.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', path='site/css/navigation-menu.css') }}">
	
	<!-- Custom - Theme CSS -->	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', path='site/style.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', path='site/css/shortcode.css') }}">
	<style>
		.brd {
		  /* Параметры границы */
		 background: rgb(251, 250, 250); /* Цвет фона */
		 padding: 20px; /* Поля вокруг текста */
		 box-shadow: -5px 10px rgba(224, 226, 227, 0.573);
		}
		.brd2 {
		  /* Параметры границы */
		 background: rgb(248, 246, 246); /* Цвет фона */
		 padding: 20px; /* Поля вокруг текста */
		 text-shadow: 0em;
		}
	   </style>
	<!--[if lt IE 9]>
		<script src="js/html5/respond.min.js"></script>
    <![endif]-->
</head>
