{% include 'site/route/header.html' %}
<body data-offset="200" data-spy="scroll" data-target=".ow-navigation">
	{% include 'site/route/topnav.html' %}
	<!-- PageBanner -->
	<div class="container-fluid no-padding pagebanner">
		<div class="container">
			<div class="pagebanner-content">
				{% if news_category.name %}
				<h3>{{ news_category.name }} - {{ language.news }}</h3>
				{% else %}
				<h3>{{ page_title }}</h3>
				{% endif %}
			</div>
		</div>
	</div><!-- PageBanner /- -->
	<!-- Event Section -->
	<div class="container event-section">
		<div class="section-padding"></div>			
		<div class="event-block">
		{% if response.data %}
			{% for news in response.data %}
					<div class="event-box">
						<div class="row">
							<div class="col-md-3 col-sm-4 col-xs-5">
							{% if news.news_image %}
								<img src="/static/news_images/{{ news.news_image }}" width="260" height="160"/>
							{% else %}
								<img src="/static/site/images/eduway_news.png" width="260" height="160"/>
							{% endif %}
							</div>
							
							<div class="col-md-7 col-sm-6 col-xs-7">
								<h3><a href="/news/{{ news.select_category.name }}/{{ news.id }}" title="{{ news.news_title }}">{{ news.news_title }}</a></h3>
								<div class="event-meta">
									<span><i aria-hidden="true" class="fa fa-clock-o"></i>{{ news.created_at.strftime('%Y-%m-%d') }}</span>
								</div>
								<p>{{ news.description[0:100] }}....</p>
							</div>
							<div class="col-md-2 col-sm-2 col-xs-12">
								<a href="/news/{{ news.select_category.name }}/{{ news.id }}" class="readmore" title="{{ language.detail }}">{{ language.detail }}</a>
							</div>
						</div>
					</div>
			{% endfor %}
		{% else %}
			Xəbər tapılmadı ;(
		</div>
		{% endif %}
		</div>
		{% if news_category.name %}
		<nav class="ow-pagination">
			<ul class="pagination">
		{% if response.pagination.previous  !=  None %}
			<li><a href="/news/{{ news_category.name }}{{ response.pagination.previous }}">{{ language.previous }}</a></li>
		{% endif %}
		{% if response.pagination.next  !=  None %}
			<li><a href="/news/{{ news_category.name }}{{ response.pagination.next }}">{{ language.next }}</a></li>
		{% endif %}
		</ul>
		</nav>
		{% else %}

		<nav class="ow-pagination">
			<ul class="pagination">
		{% if response.pagination.previous  !=  None %}
			<li><a href="/news{{ response.pagination.previous }}">{{ language.previous }}</a></li>
		{% endif %}
		{% if response.pagination.next  !=  None %}
			<li><a href="/news{{ news_category.name }}{{ response.pagination.next }}">{{ language.next }}</a></li>
		{% endif %}
		</ul>
		</nav>
		{% endif %}
			
		<div class="section-padding"></div>
	</div><!-- Event Section /- -->	
	<!-- Footer Main -->
	{% include 'site/route/footer.html' %}
	
</body>
</html>