<div class="container-fluid no-padding searchcourses">
    <div class="container">	
        <div class="search-content">
            <div class="searchcourses-block">
                <h3>Over 3,000+ students trust us world wide. Get free online courses tips, Subscribe us</h3>
            </div>
            <div class="course-search-block">
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <select class="selectpicker">
                        <option>All Categories</option>
                        <option>Categories 1</option>
                        <option>Categories 2</option>
                        <option>Categories 3</option>
                    </select>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <select class="selectpicker">
                        <option>Course Level</option>
                        <option>Level 1</option>
                        <option>Level 2</option>
                        <option>Level 3</option>
                    </select>
                </div>
                <div class="col-md-6 col-sm-6  col-xs-12 search_box">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Course Keyword . . . ">
                        <span class="input-group-btn">
                            <button class="btn" type="button" title="Search courses">Search courses</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="search-categories">
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <p><i class="fa fa-graduation-cap" aria-hidden="true"></i><span>Over 500 students Enrolled Learn Skills</span></p>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <p><i class="fa fa-paper-plane-o" aria-hidden="true"></i><span>More than 300+ Online Courses Available</span></p>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <p><i class="fa fa-tencent-weibo" aria-hidden="true"></i><span>Learn Skills on any Devices anytime</span></p>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <p><i class="fa fa-user-md" aria-hidden="true"></i><span>More than 320 Instructors Available</span></p>
                </div>
            </div>
        </div>
    </div>
</div>