{% if site_settings.youtube_video %}
<div class="container-fluid no-padding video-testimonial-section">
		<div class="container">
			<div class="section-padding"></div>
			<div class="section-header">
				<h3>Video <span>Təlimat</span></h3>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-12 ">
					<div class="video-block video-block-lg">
						<a title="Paly Video" class="popup-youtube" href="{{ site_settings.youtube_video }}"><i class="fa fa-play" aria-hidden="true"></i></a>
						<img  src="{{ url_for('static', path='site/images/video-poster-1.jpg') }}" width="100%" alt="Video Poster-1"/>
					</div>
				</div>

			</div>
			<div class="section-padding"></div>
		</div>
	</div>
{% endif %}