<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/ico" href="/static/site/images/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% if site_settings %}
        {{ site_settings.site_title }} - {% endif %}Sayt Bağlıdır
    </title>
    
</head>
<body bgcolor="black" align="center">
    <br/>
    <br/>
    <br/>
    <i class="fa fa-gear fa-spin" style="font-size:48px;color:red"></i>
    <h1><font color="white">Yenilənməyə görə</font> <font color="red">keçici olaraq sayt bağlıdır</font></h1>
    <i class="fa fa-gear fa-spin" style="font-size:48px;color:red"></i>
</body>
</html>
