{% include 'site/route/header.html' %}
<body data-offset="200" data-spy="scroll" data-target=".ow-navigation">
	{% include 'site/route/topnav.html' %}
	<!-- slider -->
	{% include 'site/route/slider.html' %}
	<!-- end slider -->
	<!-- Welcome Section -->
	{% include 'site/route/slider_welcome.html' %}
	<!-- Welcome Section /- -->
	
	<!-- Event Section -->
	{% include 'site/route/short_news.html' %}
	<!-- Event Section /- -->	
	
	<hr class>
	
	<!-- Video Testimonial Section -->
	{#
	{% include 'site/route/video_test.html' %}
	#}
	<!-- Video Testimonial Section /- -->

	<!-- Footer Main -->
	{% include 'site/route/footer.html' %}
	
</body>
</html>