fastapi
uvicorn
starlette
pydantic
typing
sqlalchemy
jinja2
email-validator
python-multipart
itsdangerous
Pillow
aiofiles
python-jose
passlib
bcrypt
requests
psycopg2-binary
plyer
antispam
pipenv
fastapi_sqlalchemy
pyobjus
git+http://github.com/kivy/pyobjus/