fastapi
uvicorn
starlette
pydantic
typing
sqlalchemy
jinja2
email-validator
python-multipart
itsdangerous
Pillow
aiofiles
python-jose
passlib
bcrypt
requests
psycopg2-binary
antispam
pipenv
fastapi_sqlalchemy
python-dotenv