<div class="wrapper row4">
    <div class="rounded">
      <footer id="footer" class="clear"> 
        <!-- ################################################################################################ -->
        <div class="one_third first">
          <figure class="center"><img class="btmspace-15" src="{{ url_for('static', path='site/images/demo/worldmap.png') }}" alt="">
            <figcaption><a href="#">Find Us With Google Maps &raquo;</a></figcaption>
          </figure>
        </div>
        <div class="one_third">
          <address>
          Long Educational Facility Name<br>
          Address Line 2<br>
          Town/City<br>
          Postcode/Zip<br>
          <br>
          <i class="fa fa-phone pright-10"></i> xxxx xxxx xxxxxx<br>
          <i class="fa fa-envelope-o pright-10"></i> <a href="#">contact@domain.com</a>
          </address>
        </div>
        <div class="one_third">
          <p class="nospace btmspace-10">Stay Up to Date With What's Happening</p>
          <ul class="faico clear">
            <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a class="faicon-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="faicon-flickr" href="#"><i class="fa fa-flickr"></i></a></li>
            <li><a class="faicon-rss" href="#"><i class="fa fa-rss"></i></a></li>
          </ul>
          <form class="clear" method="post" action="#">
            <fieldset>
              <legend>Subscribe To Our Newsletter:</legend>
              <input type="text" value="" placeholder="Enter Email Here&hellip;">
              <button class="fa fa-sign-in" type="submit" title="Sign Up"><em>Sign Up</em></button>
            </fieldset>
          </form>
        </div>
        <!-- ################################################################################################ --> 
      </footer>
    </div>
  </div>