<!-- Header -->
{% include 'site/header.html' %}
<!-- end Header -->

<!-- Navbar --> 
{% include 'site/navbar.html' %}
<!-- end Navbar --> 

<!-- Slider -->
{% include 'site/slider.html' %}
<!-- end Slider --> 

<!-- Body -->
<div class="wrapper row3">
  <div class="rounded">
    <main class="container clear"> 

      {% include 'site/main-body.html' %}

      <div class="clear"></div>
    </main>
  </div>
</div>
<!-- end Body --> 

{% include 'site/footer.html' %}

<!-- Footer -->

<!-- end Footer --> 
<!-- ################################################################################################ --> 
<!-- ################################################################################################ -->
<div class="wrapper row5">
  <div id="copyright" class="clear"> 
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2014 - All Rights Reserved - <a href="#">Domain Name</a></p>
    <p class="fl_right">Template by <a target="_blank" href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
    <!-- ################################################################################################ --> 
  </div>
</div>
<!-- JAVASCRIPTS --> 
<script src="{{ url_for('static', path='site/layout/scripts/jquery.min.js') }}"></script> 
<script src="{{ url_for('static', path='site/layout/scripts/jquery.fitvids.min.js') }}"></script> 
<script src="{{ url_for('static', path='site/layout/scripts/jquery.mobilemenu.js') }}"></script> 
<script src="{{ url_for('static', path='site/layout/scripts/tabslet/jquery.tabslet.min.js') }}"></script>
</body>
</html>