<!-- Header -->
{% include 'site/header.html' %}
<!-- end Header -->

<!-- Navbar --> 
{% include 'site/navbar.html' %}
<!-- end Navbar --> 

<!-- Slider -->
{% include 'site/slider.html' %}
<!-- end Slider --> 

<!-- Body -->
<div class="wrapper row3">
  <div class="rounded">
    <main class="container clear"> 
        <h1><b>Profil melumatlari</b></h1>
            <font size="2" color ="red"><b>Qeyd: Ulduzlu saheleri mutleq doldurmalisiniz...</b></font><br/><br/>
            <form class="row g-3" method ="POST">
                <div class="col-md-5">
                  <label for="name_surname" class="form-label"><b>*Ad ve Soyad:</b></label>
                  <input type="text" class="form-control is-valid" name="name_surname" placeholder="Adiniz ve soyadiniz" required>
                </div>
                <div class="col-md-5">
                    <label for="phone" class="form-label"><br/><b>*Elaqe nomresi:</b></label>
                    <input type="text" class="form-control is-valid" name="phone" placeholder="+99455xxxxxxx" required>
                </div>
                <div class="col-md-5">
                    <label for="age"><br/><b>*Dogum tarixiniz:</b></label>
                    <input type="date" name="age" />
                </div>

                <div class="col-md-5">
                    <label for="city" class="form-label"><br/><b>*Dogum yeriniz:</b></label>
                    <input type="text" class="form-control is-valid" name="city" placeholder="Sheher" required>
                </div>
                <div class="col-md-5">
                    <label for="education" class="form-label"><br/><b>*Tehsiliniz:</b></label>
                    <select name="education">
                      
                        <option value="Orta">Orta</option>
                        <option value="Ali">Ali</option>
                    </select>
                </div>
                <div class="col-md-5">
                    <label for="certificate_points" class="form-label"><br/><b>*Attestat qiymetlerinizi veya bitirdiyiniz universitet:</b></label>
                    <input type="text" class="form-control is-valid" name="certificate_points" placeholder="Meselen: Riyaziyyat - 5," required>
                </div>
                <div class="col-md-5">
                    <label for="about"><br/><b>Haqqinizda:</b></label>
                    <textarea name="about" rows="4" cols="50" placeholder="Qisa melumat..."></textarea>
                </div>
                <div class="col-12">
                    <label for="select_university_id"><br/><b>*Sechdiyiniz tehsil novu/Universitet:</b></label>
                    <select name="select_university_id" id="plan">
                      {% for i in edu %}
                        <option value="{{i.id}}">{{ i.name }} - {{ i.education_type }}</option>
                      {% endfor %}
                    </select>
                </div>
                <br/>
                <hr>
                <p align="center">
                  <button class="btn btn-primary" type="submit">Qeydiyyat Formunu tamamla</button>
                </p>
                </div>
              </form>

      <div class="clear"></div>
    </main>
  </div>
</div>
<!-- end Body --> 


<!-- Footer -->
{% include 'site/footer.html' %}

<!-- end Footer --> 
<!-- ################################################################################################ --> 
<!-- ################################################################################################ -->
<div class="wrapper row5">
  <div id="copyright" class="clear"> 
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2014 - All Rights Reserved - <a href="#">Domain Name</a></p>
    <p class="fl_right">Template by <a target="_blank" href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
    <!-- ################################################################################################ --> 
  </div>
</div>
<!-- JAVASCRIPTS --> 
<script src="{{ url_for('static', path='site/layout/scripts/jquery.min.js') }}"></script> 
<script src="{{ url_for('static', path='site/layout/scripts/jquery.fitvids.min.js') }}"></script> 
<script src="{{ url_for('static', path='site/layout/scripts/jquery.mobilemenu.js') }}"></script> 
<script src="{{ url_for('static', path='site/layout/scripts/tabslet/jquery.tabslet.min.js') }}"></script>
<script src="{{ url_for('static', path='site/layout/scripts/birth.js') }}"></script>

</body>
</html>