<!-- Header -->
{% include 'dashboard/header.html' %}
<!-- end Header -->
    <!-- left -->
      {% include 'dashboard/left_sidebar.html' %}
    <!-- end -->

  
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- Navbar -->
      {% include 'dashboard/navbar.html' %}
    <!-- End Navbar -->
    <div class="container-fluid py-4">
      {% include 'dashboard/cards.html' %}

      
      <hr class>
      
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-8 mb-md-0 mb-5">
              <div class="card" style="margin: 0 25px">
                <div class="card-header pb-0">
                  <div class="row">
                    {% include 'flash.html' %}<br/>
                      <h5><b>{{ language.create_education }}</b></h5>
                      {% if education_category %}
                      <form class="row g-3" method ="POST" enctype="multipart/form-data" action="/admin/education/add/education">
                      <div class="col-md-5">
                        <label for="name" class="form-label"><b>*{{ language.education_name }}:</b></label>
                        <input type="text" class="form-control is-valid" name="name" value="" required><br/>
                        </div>
                      <div class="col-md-5">
                        <label for="city" class="form-label"><b>*{{ language.country_or_city }}:</b></label>
                        <input type="text" class="form-control is-valid" name="city" value="" required><br/>
                      </div>
                        <div class="col-md-5">
                        <label for="name" class="form-label"><b>*{{ language.about_education }}:</b></label>
                        <textarea class="form-control is-valid" name="about_education" value="" required></textarea><br/>
                        </div>
                        <div class="col-md-5">
                          <label for="file" class="form-label"><b>{{ language.photo }}:</b><br/></label>
                          <input type="file" name="file">
                        </div>
                        <div class="col-md-5">
                        <select class="form-select" name="education_type">
                          {% for i in education_category %}
                            <option value="{{ i.name }}">&nbsp;&nbsp;{{ i.name }}</option>
                          {% endfor %}
                        </select>
                        </br/>
                        <button class="btn btn-primary" type="submit">{{ language.update }}</button>
                      </div>
                      </form>
                    {% else %}
                    <b>{{ language.no_category_message }}</b><br/>
                    <br/>
                    {% endif %}
                    <hr>
                      
            <h5><b>{{ language.add_category }}</b></h5>
            <form class="row g-3" method="POST" action="/admin/education/add/category">
              <div class="col-md-5">
                <label for="text" class="form-label"><b>{{ language.category }}:</b><br/></label>
                <input type="text" class="form-control is-valid" name="edu_name" required>
                </br/>
                <button class="btn btn-primary" type="submit">{{ language.update }}</button>
              </div>
            </form>
            <hr>
                  <div class="card-body px-0 pb-2">
                    <div class="table-responsive">
                      <table class="table align-items-center mb-0">
                        <thead>
                          <tr>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{{ language.category_name }}</th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{{ language.posts_count }}</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for x in education_category %}
                          <tr>
                            <td>
                              <div class="d-flex px-2 py-1">
                                <div>
                                  {{ loop.index }}.&nbsp;&nbsp;</div>
                                <div class="d-flex flex-column justify-content-center">
                                  <h6 class="mb-0 text-sm">{{ x.name }}</h6> id: {{ x.id }}
                                </div>
                              </div>
                            </td>
                            
                            <td class="align-middle text-center text-sm">
                                <span class="text-xs font-weight-bold">
                                  {% for edu in response.data if edu.education_type == x.name %}
                                    {% if loop.first %}
                                      {{ loop.length }}
                                    {% endif %}
                                  {% endfor %}                                
                              </span>
                            </td>
                            <td class="align-center">
                                    <span class="text-xs font-weight-bold"><a href="/admin/educategory/{{ x.id }}/delete">{{ language.delete }}</a></span>
                            </td>
                          </tr>
                     
                          {% endfor %}
                        
                          
                        </tbody>
                      </tbody>
                    </table>
                    <br/>
    
                  </div>
                </div>
              </div>
    
    
          <hr>
                </div>
    
                <div class="col-12">
                <h6 align="center">{{ language.education }}</h6>
                </div>
                <div class="card-body px-0 pb-2">
                  <div class="table-responsive">
                    <table class="table align-items-center mb-0">
                      <thead>
                        <tr>
                          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{{ language.education }}</th>
                          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">{{ language.category }}</th>
                          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{{ language.students }}</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for x in response.data %}
                        <tr>
                          <td>
                            <div class="d-flex px-2 py-1">
                              <div>
                                {{ loop.index }}.&nbsp;&nbsp;</div>
                              <div class="d-flex flex-column justify-content-center">
                                <h6 class="mb-0 text-sm"><a href="/admin/educations/{{ x.id }}">{{ x.name }}</a></h6> id: {{ x.id }}
                              </div>
                            </div>
                          </td>
                          <td>
                    
                            <span class="text-xs font-weight-bold">{{ x.education_type }}</span>
                            
                          </td>
                          <td class="align-middle text-center text-sm">
                           
                              <div class="avatar-group mt-2">
                                {% for human in users if human.select_university_id == x.id %}
                                  {% if loop.index < 5 %}
                                    {% if human.profile_picture %}
                                      <a href="/admin/user/{{ human.id }}" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip"  style="width: 10px; height: 10px;"  data-bs-placement="bottom" title="{{ human.name_surname }}">
                                        <img class="centered-and-cropped" width="20" height="20"  src="/static/profile_pictures/{{ human.profile_picture }}" alt="{{ human.name_surname }}">
                                      </a>
                                    {% else %}
                                      <a href="/admin/user/{{ human.id }}" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ human.name_surname }}">
                                        <img class="centered-and-cropped" src="/static/site/images/default_profile_picture.jpeg" alt="{{ human.name_surname }}">
                                      </a>
                                    {% endif %}
                                  {% endif %}
                                {% endfor %}
                              </div>
                              <a class href="/admin/educations/{{ x.id }}"><span class="text-xs font-weight-bold">{{x.select_education|length}} {{ language.person }}</span></a>
                          </td>
                          <td class="align-center">
                                  <span class="text-xs font-weight-bold"><a href="/admin/educations/{{ x.id }}/update">Edit</a> / <a href="/admin/educations/{{ x.id }}/delete">Delete</a></span>
                          </td>
                        </tr>
                   
                        {% endfor %}
                      
                        
                      </tbody>
                    </table>
                    <div class="align-middle text-center text-sm"><hr>
                                                                  {% if response.pagination.previous  !=  None %}
                                                                    <a href="educations{{ response.pagination.previous }}"><< {{ language.previous }}</a>
                                                                  {% endif %} |
                                                                  {% if response.pagination.next  !=  None %}
                                                                    <a href="educations{{ response.pagination.next }}">{{ language.next }} >></a></div>
                                                                  {% endif %}
                    <br/>

                  </div>
                </div>
              </div>
            </div>
          </div>

      {% include 'dashboard/footer.html' %}

      