<div class="card shadow-lg">
    <div class="card-header pb-0 pt-3">
      <div class="float-start">
        <h5 class="mt-3 mb-0">{{ language.configurations }}</h5>
      </div>
      <div class="float-end mt-4">
        <button class="btn btn-link text-dark p-0 fixed-plugin-close-button">
          <i class="material-icons">clear</i>
        </button>
      </div>
      <!-- End Toggle Button -->
    </div>
    <hr class="horizontal dark my-1">
    <div class="card-body pt-sm-3 pt-0">
      <!-- Sidebar Backgrounds -->
      <div>
        <h6 class="mb-0">{{ language.sidedar_color }}</h6>
      </div>
      
        <div class="badge-colors my-2 text-start">
        <form method="POST" action="/admin/functions/color">
          <input class="badge filter bg-gradient-primary" type="submit" data-color="primary" name="sidebar_selected_color" value="1" onChange="this.form.submit()">
          <input class="badge filter bg-gradient-dark" type="submit" data-color="dark" name="sidebar_selected_color" value="2" onChange="this.form.submit()">
          <input class="badge filter bg-gradient-info" type="submit" data-color="info" name="sidebar_selected_color" value="3" onChange="this.form.submit()">
          <input class="badge filter bg-gradient-success" type="submit" data-color="success" name="sidebar_selected_color" value="4" onChange="this.form.submit()">
          <input class="badge filter bg-gradient-warning" type="submit" data-color="warning" name="sidebar_selected_color" value="5" onChange="this.form.submit()">
          <input class="badge filter bg-gradient-danger" type="submit" data-color="danger" name="sidebar_selected_color" value="6" onChange="this.form.submit()">
        </form>
        </div>
      <!-- Navbar Fixed -->
      <div class="mt-3 d-flex">
        <h6 class="mb-0">{{ language.navbar_fixed }}</h6>
        <div class="form-check form-switch ps-0 ms-auto my-auto">
          <form method="POST" action="/admin/functions/fixed">
            <input class="form-check-input mt-1 ms-auto" type="checkbox" name="navbar_fixed" {{"checked" if user.navbar_fixed == "on" else ""}} onChange="this.form.submit()">
          </form>
        </div>
      </div>
      <hr class="horizontal dark my-3">
      <div class="mt-2 d-flex">
        <h6 class="mb-0">{{ language.ligth_or_dark }}</h6>
        <div class="form-check form-switch ps-0 ms-auto my-auto">
          <form method="POST" action="/admin/functions/mode">
            <input class="form-check-input mt-1 ms-auto" type="checkbox" name="site_mode" {{"checked" if user.site_mode == "on" else ""}} onChange="this.form.submit()">
          </form>
        </div>
      </div>
      <hr class="horizontal dark my-sm-4">

    </div>
  </div>