<!-- Header -->
{% include 'dashboard/header.html' %}
<!-- end Header -->
    <!-- left -->
      {% include 'dashboard/left_sidebar.html' %}
    <!-- end -->

  
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- Navbar -->
      {% include 'dashboard/navbar.html' %}
    <!-- End Navbar -->
    <div class="container-fluid py-4">
      {% include 'dashboard/cards.html' %}

      
      <hr class>
      
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-8 mb-md-0 mb-5">
              <div class="card" style="margin: 0 25px">
                <div class="card-header pb-0">
                  <div class="row">
                    <div class="col-lg-6 col-7">
                      <h6>{{ edu.name }} - Telebeler</h6>
                      

                    </div>

                  </div>
                </div>
                <div class="card-body px-0 pb-2">
                    <hr>
                {% if user_in_edu %}
                  <div class="table-responsive">
                    <table class="table align-items-center mb-0">
                      <thead>
                        
                        <tr>
                          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Telebe</th>
                          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Tehsil</th>
                          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Elaqe</th>
                          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Dogum tarixi</th>
                        </tr>
                      </thead>
                      <tbody>

                        {% for x in user_in_edu %}
 
                        

                        <tr>
                          <td>
                            <div class="d-flex px-2 py-1">
                              <div>
                                {{ x.id }}. <img src="{{ url_for('static', path='dashboard/assets/img/small-logos/logo-xd.svg') }}" class="avatar avatar-sm me-3" alt="xd">
                              </div>
                              <div class="d-flex flex-column justify-content-center">
                                <h6 class="mb-0 text-sm">{{ x.name_surname}}</h6>
                              </div>
                            </div>
                          </td>
                          <td>
                            
                            <!-- <span class="text-xs font-weight-bold">{{x.select_university_id}}</span> -->
                            
                          </td>
                          <td class="align-middle text-center text-sm">
                            <span class="text-xs font-weight-bold">{{x.phone}}</span>
                          </td>
                          <td class="align-center">
                                  <span class="text-xs font-weight-bold"><a href="/admin/user/{{ x.id }}">Infoya bax</a> / <a href="/admin/user/{{ x.id }}/edit">Duzelish et</a></span>
                          </td>
                        </tr>

                        {% endfor %}
                        
                      </tbody>
                    </table>
                  </div>
                </div>
                {% else %}
                <div class="d-flex flex-column justify-content-center">
                    <h6 class="text-center text-secondary font-weight-bolder ps-2">Heleki hechkim yoxdur</h6>
                  </div>
                {% endif %}
                <hr>
              </div>
            </div>
          </div>

      {% include 'dashboard/footer.html' %}

      