
    <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark" id="sidenav-main">
        <div class="sidenav-header">
          <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
          <div class="navbar-brand m-0" target="_blank">
            <i class="fa fa-cube" aria-hidden="true" style="font-size:22px;color:white"></i>
            <span class="ms-1 font-weight-bold text-white">Dashboard</span>
        </div>
        <form align="center" method="POST" action="/lang/">
          {% for lang in dashboard_languages %}
            <button type="submit" class="btn btn-info" name="id" value="{{ lang.id }}">{{ lang.dashboard_short_language_name }}</button>
          {% endfor %}
        </form>
    <hr class="horizontal light mt-0 mb-2">
   
      <ul class="navbar-nav">
        <li class="nav-item">
          {% if user.sidebar_selected_color == "1" %}
            <a class="nav-link text-white active bg-gradient-primary" href="/admin/inbox">
          {% elif user.sidebar_selected_color == "2" %}
            <a class="nav-link active text-white bg-gradient-dark" href="/admin/inbox">
          {% elif user.sidebar_selected_color == "3" %}
            <a class="nav-link active text-white bg-gradient-info" href="/admin/inbox">
          {% elif user.sidebar_selected_color == "4" %}
            <a class="nav-link active text-white bg-gradient-success" href="/admin/inbox">
          {% elif user.sidebar_selected_color == "5" %}
            <a class="nav-link active text-white bg-gradient-warning" href="/admin/inbox">
          {% elif user.sidebar_selected_color == "6" %}
            <a class="nav-link active text-white bg-gradient-danger" href="/admin/inbox">
          {% endif %}
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="fa fa-envelope"></i>
            </div>
            <span class="nav-link-text ms-1">{{ language.messages }} ({{ unread | length }})</span>
          </a>
  
          <li class="nav-item mt-3">
              <h6 class="ps-4 ms-2 text-uppercase text-xs text-white font-weight-bolder opacity-8">Accounts</h6>
            </li>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="/admin/">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="fas fa-users"></i>
            </div>
            <span class="nav-link-text ms-2"><font size = "4" color="white">{{ language.users }}</font></span>
          </a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link text-white " href="/admin/admin-users">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="fas fa-user-shield"></i>
            </div>
            <span class="nav-link-text ms-2"><font size = "4" color="white">{{ language.admin_users }}</font></span>
          </a>
        </li>
  
        <li class="nav-item mt-3">
          <h6 class="ps-4 ms-2 text-uppercase text-xs text-white font-weight-bolder opacity-8">{{ language.site_settings }}</h6>
        </li>
  
      <li class="nav-item">
          <a class="nav-link text-white " href="/admin/slider">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="fa fa-sliders"></i>
              </div>
              <span class="nav-link-text ms-2"><font size = "4" color="white">{{ language.slider_settings }}</font></span>
          </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white " href="/admin/settings">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="fa fa-cog"></i>
            </div>
            <span class="nav-link-text ms-2"><font size = "4" color="white">{{ language.site_settings }}</font></span>
        </a>
      </li>
  
        <li class="nav-item">
          <a class="nav-link text-white " href="/admin/educations">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="fas fa-user-graduate"></i>
            </div>
            <span class="nav-link-text ms-2"><font size = "4" color="white">{{ language.educations_settings }}</font></span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="/admin/news">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="fa fa-newspaper-o"></i>
            </div>
            <span class="nav-link-text ms-2"><font size = "4" color="white">{{ language.news }}</font></span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="/admin/languages">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="fa fa-language" aria-hidden="true"></i>
            </div>
            <span class="nav-link-text ms-2"><font size = "4" color="white">{{ language.site_languages }}</font></span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="/admin/staff">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="fas fa-user-tie"></i>
            </div>
            <span class="nav-link-text ms-2"><font size = "4" color="white">{{ language.staff }}</font></span>
          </a>
        </li>
      </ul>
  </aside>