<!-- Header -->
{% include 'dashboard/header.html' %}
<!-- end Header -->
    <!-- left -->
      {% include 'dashboard/left_sidebar.html' %}
    <!-- end -->

  
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- Navbar -->
      {% include 'dashboard/navbar.html' %}
    <!-- End Navbar -->
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="card mt-4">
            <div class="card-header p-3">
              <h5 class="mb-0">{{ language.admin_messages }} ({{ unread | length }} / {{ m_data | length }})</h5>
              <hr>
              {% include 'flash.html' %}
              {% if m_data | length > 0 %}
                {% if user.sidebar_selected_color == "1" %}
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">{{ language.delete_all_messages }}</button>
                {% elif user.sidebar_selected_color == "2" %}
                  <button type="button" class="btn bg-gradient-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">{{ language.delete_all_messages }}</button>
                {% elif user.sidebar_selected_color == "3" %}
                  <button type="button" class="btn bg-gradient-info" data-bs-toggle="modal" data-bs-target="#exampleModal">{{ language.delete_all_messages }}</button>
                {% elif user.sidebar_selected_color == "4" %}
                  <button type="button" class="btn bg-gradient-success" data-bs-toggle="modal" data-bs-target="#exampleModal">{{ language.delete_all_messages }}</button>
                {% elif user.sidebar_selected_color == "5" %}
                  <button type="button" class="btn bg-gradient-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">{{ language.delete_all_messages }}</button>
                {% elif user.sidebar_selected_color == "6" %}
                  <button type="button" class="btn bg-gradient-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">{{ language.delete_all_messages }}</button>
                {% endif %}
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">{{ language.delete_all_admin_messages }}</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        {{ language.confirm_delete_all_messages }}
                      </div>
                      <div class="modal-footer">
                        <a href="/admin/inbox/delete_all"><button type="button" class="btn bg-gradient-danger">{{ language.delete_all_messages }}</button></a>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ language.no }}</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% else %}
            {{ language.no_message }}
            {% endif %}

              
              <!-- end modal -->
            
            <div class="card-body p-3 pb-0">
              {% for message in messages.data %}
                {% if message.readed == 0 %}
                  <b><i class="fa fa-envelope" aria-hidden="true"></i> <a href="/admin/inbox/{{ message.id }}">{{ message.name }}</a></b><br/>
                  <b>{{ message.message[0:60] }}...</b><br/>
                  {% for time in messages_time %}
                  {% if time.message_id == message.id %}
                  <font color="black"><i class="fa fa-clock me-1"></i> {{ time.m_time }} </font>
                {% endif %}
              {% endfor %}
                {% else %}
                <a href="/admin/inbox/{{ message.id }}">{{ message.name }}</a><br/>
                  {{ message.message[0:60] }}...<br/>
                  {% for time in messages_time %}
                  {% if time.message_id == message.id %}
                  <font color="black"><i class="fa fa-clock me-1"></i> {{ time.m_time }} </font>
                  {% endif %}
                  {% endfor %}
                {% endif %}
                <hr>
              {% endfor %}

              <div class="align-middle text-center text-sm">{{ messages.data_length }}
                {% if messages.pagination.previous  !=  None %}
                  <a href="inbox{{ messages.pagination.previous }}"><< {{ language.previous }}</a>
                {% endif %} |
                {% if messages.pagination.next  !=  None %}
                  <a href="inbox{{ messages.pagination.next }}">{{ language.next }} >></a>
                  
                {% endif %}
                <br/>
                <br/>
              </div>

            </div>
          </div>
        </div>
      </div>

      {% include 'dashboard/footer.html' %}