<!-- Header -->
{% include 'dashboard/header.html' %}
<!-- end Header -->
    <!-- left -->
      {% include 'dashboard/left_sidebar.html' %}
    <!-- end -->

  
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- Navbar -->
      {% include 'dashboard/navbar.html' %}
    <!-- End Navbar -->
    <div class="container-fluid py-4">
      {% include 'dashboard/cards.html' %}
      
      <hr class>
      
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-8 mb-md-0 mb-5">
              <div class="card" style="margin: 0 25px">
                <div class="card-header pb-0">
                  {% include 'flash.html' %}<br/>
                  <div class="row">
                      <h5><b>Xəbər əlavə et</b></h5>
                      {% if news_category %}
                        <form class="row g-3" method ="POST" enctype="multipart/form-data" action="/admin/add_news"> 
                        <div class="col-md-5">
                          <label for="name" class="form-label"><b>*Title:</b></label>
                          <input type="text" class="form-control is-valid" name="news_title" required><br/>
                          </div>
                          <div class="col-md-5">
                          <label for="name" class="form-label"><b>*Description:</b></label>
                          <textarea class="form-control is-valid" name="description" required></textarea><br/>
                          </div>
                          <div class="col-md-5">
                            <label for="file" class="form-label"><b>Təsvir:</b><br/></label>
                            <input type="file" name="file">
                          </div>
                          <div class="col-md-5">
                          <select class="form-select" name="select_category_id">
                            {% for i in news_category %}
                              <option value="{{ i.id }}">&nbsp;&nbsp;{{ i.name }}</option>
                            {% endfor %}
                          </select>
                          </br/>
                          <button class="btn btn-primary" type="submit">Əlavə et</button>
                        </div>
                        </form>
                      {% else %}
                        <b>Kateqoriya yoxdur. İlk oncə Kateqoriya əlavə edin...</b><br/>
                        <br/>
                      {% endif %}
                      <hr>
                      
            <h5><b>Kateqoriya əlavə et</b></h5>
            <form class="row g-3" method="POST" action="/admin/add_news_category">
              <div class="col-md-5">
                <label for="text" class="form-label"><b>Xəbər kateqoriya:</b><br/></label>
                <input type="text" class="form-control is-valid" name="category_name" required>
                </br/>
                <button class="btn btn-primary" type="submit">Əlavə et</button>
              </div>
            </form>
            <hr>
          
            <div class="col-lg-6 col-7">
            <h6>Xəbərlər</h6>
            </div>

                  </div>
                </div>
                <div class="card-body px-0 pb-2">
                  <div class="table-responsive">
                    <table class="table align-items-center mb-0">
                      <thead>
                        

                        <tr>
                          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ID / Xəbər title</th>
                          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Kateqoriya</th>
                          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Dərc edilib</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for x in response.data %}
                        <tr>
                          <td>
                            <div class="d-flex px-2 py-1">
                              <div>
                                {{ loop.index }}.&nbsp;&nbsp;&nbsp;&nbsp;</div>
                              <div class="d-flex flex-column justify-content-center">
                                <h6 class="mb-0 text-sm">{{ x.news_title }}</h6> id: {{ x.id }}
                              </div>
                            </div>
                          </td>
                          <td>
                            {% for i in news_category %}
                                {% if i.id == x.select_category_id %}
                                    <span class="text-xs font-weight-bold">{{ i.name }}</span>
                                {% endif %}
                            {% endfor %}                            
                          </td>
                          <td class="align-middle text-center text-sm">
                            
                            <span class="text-xs font-weight-bold">{{x.created_at}}</span>
                          </td>
                          <td class="align-center">
                                  <span class="text-xs font-weight-bold"><a href="/admin/news/{{ x.id }}">Edit</a> / <a href="/admin/news/{{ x.id }}/delete">Delete</a></span>
                          </td>
                        </tr>
                      {% endfor %}
 
                      </tbody>
                    </table>
                    <hr>
                    <div class="align-middle text-center text-sm">{{ response.data_length }}
                                                                  {% if response.pagination.previous  !=  None %}
                                                                    <a href="news{{ response.pagination.previous }}"><< Previous</a>
                                                                  {% endif %} |
                                                                  {% if response.pagination.next  !=  None %}
                                                                    <a href="news{{ response.pagination.next }}">Next >></a></div>
                                                                  {% endif %}
                      
                    <br/>

                  </div>
                </div>
              </div>
            </div>
          </div>

      {% include 'dashboard/footer.html' %}

      