<!-- Header -->
{% include 'dashboard/header.html' %}
<!-- end Header -->
    <!-- left -->
      {% include 'dashboard/left_sidebar.html' %}
    <!-- end -->

  
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- Navbar -->
      {% include 'dashboard/navbar.html' %}
    <!-- End Navbar -->
    <div class="container-fluid py-4">
      {% include 'dashboard/cards.html' %}
      
      <hr class>
      
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-8 mb-md-0 mb-5">
              <div class="card" style="margin: 0 25px">
                <div class="card-header pb-0">
                  {% include 'flash.html' %}<br/>
                  <div class="row">
                      <h5><b>Staff elave et</b></h5>
                      <form class="row g-3" method ="POST" enctype="multipart/form-data">
                      <div class="col-md-5">
                        <label for="name_surname" class="form-label"><b>*Ad ve Soyad:</b></label>
                        <input type="text" class="form-control is-valid" name="name_surname" value="" required><br/>
                        </div>
                        <div class="col-md-5">
                        <label for="job_position" class="form-label"><b>*Vezife:</b></label>
                        <input type="text" class="form-control is-valid" name="job_position" value="" required><br/>
                        </div>
                        <div class="col-md-5">
                          <label for="facebook" class="form-label"><b>Facebook:</b></label>
                          <input type="text" class="form-control is-valid" name="facebook"><br/>
                        </div>
                        <div class="col-md-5">
                          <label for="instagram" class="form-label"><b>Instagram:</b></label>
                          <input type="text" class="form-control is-valid" name="instagram"><br/>
                        </div>
                        <div class="col-md-5">
                          <label for="twitter" class="form-label"><b>Twitter:</b></label>
                          <input type="text" class="form-control is-valid" name="twitter"><br/>
                        </div>
                        <div class="col-md-5">
                          <label for="linkedin" class="form-label"><b>Linkedin:</b></label>
                          <input type="text" class="form-control is-valid" name="linkedin"><br/>
                        </div>
                        <div class="col-md-5">
                          <label for="behance" class="form-label"><b>Behance:</b></label>
                          <input type="text" class="form-control is-valid" name="behance"><br/>
                        </div>

                        <div class="col-md-5">
                          <label for="file" class="form-label"><b>Profil photo:</b><br/></label>
                          <input type="file" name="file">
                        </div>
                        <div class="col-md-5">
                        <button class="btn btn-primary" type="submit">Update</button>
                      </div>
                      </form>

                    <hr>
          
            <div class="col-lg-6 col-7">
            <h6>Staff</h6>
            </div>

                  </div>
                </div>
                <div class="card-body px-0 pb-2">
                  <div class="table-responsive">
                    <table class="table align-items-center mb-0">
                      <thead>
                        

                        <tr>
                          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"></th>
                          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Ad ve Soyad</th>
                          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Job Position</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for x in staff %}
                        <tr>
                          <td>
                            <div class="d-flex px-2 py-1">
                              <div class="d-flex flex-column justify-content-center">
                                <h6 class="mb-0 text-sm">{{ loop.index }}</h6>
                              </div>
                            </div>
                          </td>
                          <td>
                                    <span class="text-xs font-weight-bold"><h6>{{ x.name_surname }}</h6> id: {{ x.id }}</span>
                                
                                                     
                          </td>
                          <td class="align-middle text-center text-sm">
                            
                            <span class="text-xs font-weight-bold">{{x.job_position}}</span>
                          </td>
                          <td class="align-center">
                            <span class="text-xs font-weight-bold"><a href="/admin/staff/{{ x.id }}/delete">Delete</a></span>
                          </td>
                        </tr>
                   
                        {% endfor %}
 
                      </tbody>
                    </table>

                    <hr>
                    <div class="align-middle text-center text-sm">
                      
                    <br/>

                  </div>
                </div>
              </div>
            </div>
          </div>

      {% include 'dashboard/footer.html' %}

      