{{ default.site_about }}
{{ default.login_page_title }}
{{ default.user_logged_message }}
{{ default.wrong_password_message }}
{{ default.user_does_not_exist_message }}
{{ default.registration_page_title }}
{{ default.correct_email_message }}
{{ default.password_minimum_8_character_message }}
{{ default.name_not_added_message }}
{{ default.email_is_available_message }}
{{ default.registration_success }}
{{ default.contact_page_title }}
{{ default.login }}
{{ default.message_spam_message }}
{{ default.the_message_cannot_empty_message }}
{{ default.boxes_are_cannot_empty }}
{{ default.message_has_been_sent_to_management }}
{{ default.educations_page_title }}
{{ default.news_page_title }}
{{ default.user_profile_info_page_title }}
{{ default.image_extension_error_message }}
{{ default.profile_success_message }}
{{ default.why }}
{{ default.schedules }}
{{ default.week_days }}
{{ default.monday }}
{{ default.tuesday }}
{{ default.wednesday }}
{{ default.thursday }}
{{ default.friday }}
{{ default.saturday }}
{{ default.sunday }}
{{ default.our_staff }}
{{ default.previous }}
{{ default.next }}
{{ default.educations_all }}
{{ default.detail }}
{{ default.got_question_write_to_us_text }}
{{ default.address }}
{{ default.your_contact_number }}
{{ default.email }}
{{ default.number_of_joined_students }}
{{ default.view }}
{{ default.home }}
{{ default.education }}
{{ default.news }}
{{ default.about }}
{{ default.whatsapp_message }}
{{ default.call_us }}
{{ default.dashboard }}
{{ default.profile }}
{{ default.logout }}
{{ default.categories }}
{{ default.contact }}
{{ default.created_at }}
{{ default.category }}
{{ default.password }}
{{ default.sign_in }}
{{ default.register }}
{{ default.site_register }}
{{ default.logged_in }}
{{ default.registered }}
{{ default.name_and_surname }}
{{ default.update_profile }}
{{ default.city }}
{{ default.phone }}
{{ default.date_of_birth }}
{{ default.user_education }}
{{ default.certificate_grades_or_university }}
{{ default.user_about }}
{{ default.registration_date }}
{{ default.user_status }}
{{ default.education_of_choice }}
{{ default.high_education }}
{{ default.secondary_education }}
{{ default.profile_picture }}
{{ default.change_photo }}
{{ default.add_profile_picture }}
{{ default.save }}
{{ default.news_all }}
{{ default.last }}
{{ default.last_added }}
{{ default.video_tutorial }}
{{ default.site_closed }}
{{ default.site_closed_time }}
{{ default.site_closed_text_reason }}
{{ default.forgot_password }}
{{ default.email_sent }}
{{ default.email_is_not_registere }}
{{ default.change_password }}
{{ default.password_not_same_confirm_password }}
{{ default.password_changed }}
{{ default.forgot_password_question }}
{{ default.confirm_password }}
{{ default.send }}